<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <img src="img/icons/hardware.png" class="img-responsive img-centered" alt="" style="height:100px;">
                    <h4 class="service-heading">Hardware Design</h4>
                    <p class="large text-muted">Creation of efficient, reliable, and cost-effective circuit designs for various applications, from low power to high-performance systems.</p>
                </div>
                <div class="col-md-3">
                    <img src="img/icons/firmware_2.png" class="img-responsive img-centered" alt="" style="height:100px;">
                    <h4 class="service-heading">Firmware Development</h4>
                    <p class="large text-muted">Tailored development of firmware for embedded systems, including microcontrollers, sensors, and peripheral devices, designed to meet specific application requirements.</p>
                </div>
                <div class="col-md-3">
                    <img src="img/icons/elec_eng.png" class="img-responsive img-centered" alt="" style="height:100px;">
                    <h4 class="service-heading">Electrical Engineering</h4>
                    <p class="large text-muted">Delivery of cutting-edge electrical engineering solutions. Extensive experience with high-reliability embedded systems and high-temperature electronics.</p>
                </div>
                <div class="col-md-3">
                    <img src="img/icons/drilling.png" class="img-responsive img-centered" alt="" style="height:100px;">
                    <h4 class="service-heading">Downhole Tools</h4>
                    <p class="large text-muted">Experience in the design, development, and optimization of high-performance downhole tools for the oil and gas industry. High-temperature applications.</p>
                </div>
            </div>
        </div>
    </section>